# MkDocs
site/
.cache/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/

# Obsidian
.trash/
.obsidian/

# Hermes
.mypy_cache/
.dmypy.json
dmypy.json

# Logs
*.log

# OS
.DS_Store
Thumbs.db